.cart {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .cart h1 {
    margin-bottom: 2rem;
    color: #333;
  }
  
  .cart-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
  
  .cart-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: left;
    transition: transform 0.3s ease;
  }
  
  .cart-card:hover {
    transform: translateY(-5px);
  }
  
  .cart-details h3 {
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .cart-details p {
    margin: 0.5rem 0;
    color: #666;
  }
  
  .cart-details button , .cart button{
    background-color: #dc3545;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: url(../pizza.png);
    transition: background-color 0.3s ease;
  }
  
  .cart-details button:hover {
    background-color: #c82333;
  }
  .cart button{
    margin-top: 1rem;
  }
  





  .delivery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .delivery-box {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
  }
  
  .delivery-box h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .delivery-box form input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .delivery-button {
    background-color: #536dfe;
    color: #fff;
    border: none;
    padding: 0.8rem;
    width: 100%;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .delivery-button:hover {
    background-color: #3c53e0;
  }
  
  .delivery-button:active {
    background-color: #2b3db5;
  }
  
  