.Profile {
    padding: 20px;
    max-width: 600px;
    width: 100vh;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .profile-details {
    text-align: center;
  }
  
  .profile-details h1 {
    font-size: 2em;
    color: #333;
  }
  
  .profile-details p {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
  }
  
  .profile-details strong {
    color: #333;
  }
  