* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(./cola.png),auto;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  margin-bottom: 1rem;
}
